# Virtual environments
venv/
test_env/

# Static files
staticfiles/

# Django migrations
**/migrations/

# SQLite database
db.sqlite3
db.sqlite3-journal

# Python cache
__pycache__/
*.pyc
*.pyo

# Other common files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3