{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <h2>About Muhammad Ali</h2>
    <p>Muhammad Ali, born Cassius Marcellus Clay Jr., was an American professional boxer and activist. He is widely
        regarded as one of the most significant and celebrated sports figures of the 20th century.</p>
    <p>Beyond his prowess in the ring, Ali was known for his outspoken nature, charisma, and dedication to humanitarian
        causes. He became a symbol of Black pride and resistance to racism and inequality.</p>
    <h3>About the Creator</h3>
    <p>This application was created by Ahmad Sadiq as part of CS412.</p>
</div>
{% endblock %}